<slave_config>

  <slaveserver>
    <name>master1</name>
    <hostname>0.0.0.0</hostname>
    <port>{{piv_server_port}}</port>
    <master>Y</master>
  </slaveserver>

<repository>
                <name>{{piv_repo_name}}</name>
                <username>admin</username>
                <password>admin</password>
</repository>

</slave_config>
