server {
  listen 80 default_server;
  listen [::]:80 default_server;

  location / {
  return 301 http://$host/lam/;
  }

  location /lam {
    index index.html;
    alias /usr/share/ldap-account-manager;
    autoindex off;

    location ~ \.php$ {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/run/php/php7.0-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $request_filename;
      include fastcgi_params;
    }

    location ~ /lam/(tmp/internal|sess|config|lib|help|locale) {
      deny all;
      return 403;
    }

  }
}
