server {
    listen 80;
    server_name ldap.*;
    location / {
        rewrite (.*) /lam$1 break;
        proxy_pass http://{{ inventory_hostname }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_connect_timeout 120;
        proxy_send_timeout 120;
        proxy_read_timeout 180;
    }
}
