spring.profiles.active=production
server.contextPath=/
server.port={{oauth_account_port}}

logging.file=logs/app.log

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://{{oauth_db_server}}:5432/{{oauth_db_name}}
spring.datasource.username={{oauth_db_user}}
spring.datasource.password={{oauth_db_pass}}

spring.jpa.database=POSTGRESQL
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=validate

spring.mail.host=smtp.yandex.ru
spring.mail.port=587
spring.mail.username=lk.imperial
spring.mail.password=1234!234
spring.mail.properties.mail.smtp.from=lk.imperial@yandex.ru
#spring.mail.properties.mail.debug=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000

oauth2.resource.id=oauth_account_api
oauth2.client.id={{account_id}}
oauth2.client.client-secret={{account_key}}
oauth2.client.check-token-uri=http://{{oauth_server}}:{{oauth_server_port}}/oauth/check_token
oauth2.client.access-token-uri=http://{{oauth_server}}:{{oauth_server_port}}/oauth/token
oauth2.client.revoke-token-uri=http://{{oauth_server}}:{{oauth_server_port}}/oauth/revoke
oauth2.client.scope=read
oauth2.client.authorization-uri=http://{{oauth_server}}:{{oauth_server_port}}/oauth/authorize
oauth2.login.success.uri=/index.html
oauth2.client.cookie.name = OAUTH2SESSION

account.action.confirm.uri=http://{{oauth_account}}:${server.port}/account/confirm

account.activation.expired.time.hours=24
