location / {
        root   /var/www/pvvo-inner;
        index  index.html index.htm;
        try_files $uri /index.html;
}


location /oauth {
            proxy_pass       http://{{oauth_server}}:{{oauth_server_port}};
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
}

location /pvvo-inner {
        rewrite /pvvo-inner(.*) $1  break;
            proxy_pass       http://{{inventory_hostname}}:{{runner_port}};
        proxy_redirect     off;
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
}

location /api {
            proxy_pass       http://{{inventory_hostname}}:{{runner_port}};
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
}

location /oauthAdmin {
            rewrite /oauthAdmin(.*) $1  break;
            proxy_pass       http://{{oauth_server}}:{{oauth_webadmin_port}};
            proxy_redirect     off;
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
}
